@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    
    <h1>Welcome</h1>
    <br></br>
    <h2>Willkommen auf unserer Musikwebsite</h2>
    <h3>Tauchen Sie ein und entspannen Sie sich!</h3>

</div>
